bottle
bs4
coloredlogs
furl
grequests
lxml
m3u8
mock
nba_api
netifaces
nfl_data_py
numpy
pandas
paramiko
plexapi
pymediainfo
pyombi
requests
rich
scp
sh
tldextract
tmdbsimple
urllib3==1.26.15
xmltodict
youtube_dl
yt_dlp
#
